#score {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
#result {
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    margin: 5px;
}
li {
    list-style-type: none;
    padding: 5px;
    margin: 5px;
}
ul {
    margin: 0px;
    padding: 0px;
}

html {
    background-color: black;
    color: white;
}

button {
    padding: 10px;
    margin: 10px;
}